.wd-edit-field-labels {
    position: absolute;
    font-size: 14px;
    margin-bottom: 10px;
    /*padding: 0px 5px;*/
    padding-bottom: 20px;
}

.wd-edit-field-boxes {
    /*padding: 20px 5px;*/
    /*padding-top: 50px;*/
    /*margin-top: 5px;*/
}